@import "./variables.scss";

.add {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    padding: 50px;
    border-radius: 10px;
    background-color: white;
    position: relative;
   
    h1 {
      margin-bottom: 40px;
      font-size: 24px;
      color: #23163b;
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      border-radius: 20px ;
      background-color: #5439a5;
      color: white;
    }

    form {
      display: flex;
      flex-wrap: wrap;
      max-width: 500px;
      justify-content: space-between;

      .item {
        
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
        

        label {
          font-size: 14px;
        }

        input {
          
          padding: 10px;
          background-color: transparent;
          color: black;
          outline: none;
          border: 1px solid $soft-color;
          border-radius: 10px;
          
        }
        select{
          width: 100%;
          padding: 10px;
          background-color:white;
          color: black;
          outline: none;
          border: 1px solid $soft-color;
          border-radius: 10px;
        }
      }
      button {
        width: 100%;
        padding: 10px;
        cursor: pointer;
        border-radius: 10px;
        color: white;
        background-color: #5439a5;
        
      }
      
    
  }
}

}